<section class="portafolio">
  <div class="contenedor">
    <h2 class="titulo">Bebidas</h2>
    <div class="galeria-port">



      <div class="imagen-port">
        <img src="/assets/BebidasC1.jpg" alt="" width="500px" />
        <div class="hover-galeria">

          <a href="/get-platos2">Bebidas la colonia</a>
        </div>
      </div>
      <div class="imagen-port">
        <img src="/assets/comisariato.png" alt="" width="500px" />
        <div class="hover-galeria">

          <a href=" ">Bebidas los andes's</a>
        </div>
      </div>

    </div>
  </div>