<section class="portafolio">
  <div class="contenedor">
    <h2 class="titulo">Comidas</h2>
    <div class="galeria-port">

      <div class="imagen-port">
        <img src="/assets/pizzahut.jpeg" alt="" width="500px" />
        <div class="hover-galeria">

          <a href="/get-platos4">Pizza Hut</a>
        </div>
      </div>
      <div class="imagen-port">
        <img src="/assets/mcdonalds.jpg" alt="" width="500px" />
        <div class="hover-galeria">

          <a href="/get-platos">McDonald's</a>
        </div>
      </div>

    </div>
  </div>