<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/main.css">
  <title>Home</title>
</head>

<body>
  {{>nav}}
  {{{ body }}}
  <br>
  <footer>
    <div class="contenedor-footer">
      <div class="content-foo">
        <h4>Telefono</h4>
        <p>2287956</p>
      </div>
      <div class="content-foo">
        <h4>Email</h4>
        <p>@mandaditos.com.hn</p>
      </div>
      <div class="content-foo">
        <h4>Ubicación</h4>
        <p>City Mall SPS</p>
      </div>
    </div>
    <h2 class="titulo-final">&copy; Mandaditos | 2022</h2>
  </footer>

</body>

</html>