<section class="portafolio">
  <div class="contenedor">
    <h2 class="titulo">Postres</h2>
    <div class="galeria-port">



      <div class="imagen-port">
        <img src="/assets/Starbucks.png" alt="" width="500px" />
        <div class="hover-galeria">

          <a href="get-platos3">Mely Postres</a>
        </div>
      </div>
      <div class="imagen-port">
        <img src="/assets/XocoP.jpg" alt="" width="500px" />
        <div class="hover-galeria">

          <a href=" ">Postres Xoco's</a>
        </div>
      </div>

    </div>
  </div>