<section class="portafolio">
    <div class="contenedor">
        <h2 class="titulo">Categorias</h2>
        <div class="galeria-port">



            <div class="imagen-port">
                <img src="/app/public/assets/comidas.jpg" alt="" width="500px" />
                <div class="hover-galeria">

                    <a href=" ">Comidas</a>
                </div>
            </div>
            <div class="imagen-port">
                <img src="/app/public/assets/bebidas.png" alt="" width="500px" />
                <div class="hover-galeria">

                    <a href=" ">Bebidas</a>
                </div>
            </div>

            <div class="imagen-port">
                <img src="/app/public/assets/Postres.jpg" alt="" width="500px" />
                <div class="hover-galeria">
                    <a href=" ">Postres</a>
                </div>
            </div>

        </div>
    </div>