<div class="mx-auto" style="width: 800px;">

    <div class="card mb-3">
        <img src="/app/public/assets/Subway.jpg" class="rounded mx-auto d-block" width="728px" height="428px">
        <div class="card-body">
            <h5 class="card-title">Sub Way</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card mb-3">
        <img src="/app/public/assets/McDonald.jpg" class="card-img-top" width="228px" height="428px">
        <div class="card-body">
            <h5 class="card-title">McDonald's</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card mb-3">
        <img src="/app/public/assets/BurgerKing.jpg" class="card-img-top" width="228px" height="428px">
        <div class="card-body">
            <h5 class="card-title">Burger King</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        
    </div>

</div>