<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card">
            <img src="/app/public/assets/farmacia.png" class="rounded mx-auto d-block" width="328px" height="328px">
            <div class="card-body">
                <h5 class="card-title">Farmacias</h5>
                <p class="card-text"></p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="/app/public/assets/restaurante.png" class="rounded mx-auto d-block" width="328px" height="328px">
            <div class="card-body">
                <h5 class="card-title">Restaurantes</h5>
                <p class="card-text"></p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="/app/public/assets/cafeteria.png" class="rounded mx-auto d-block" width="328px" height="328px">
            <div class="card-body">
                <h5 class="card-title">Cafeterias</h5>
                <p class="card-text"></p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>