<footer>
    <div class="contenedor-footer">
        <div class="content-foo">
            <h4>Telefono</h4>
            <p>2287956</p>
        </div>
        <div class="content-foo">
            <h4>Email</h4>
            <p>@mandaditos.com.hn</p>
        </div>
        <div class="content-foo">
            <h4>Ubicación</h4>
            <p>City Mall SPS</p>
        </div>
    </div>
    <h2 class="titulo-final">&copy; Mandaditos | 2022</h2>
</footer>