<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Mandados</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/app">Inicio </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/app/tienda">Tiendas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/app/login">Inicio de sesion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/app/productos">Productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/app/comercios">Comercios</a>
      </li>
    </ul>
  </div>
</nav>