<div class="text-end">
    <h3>Bienvenido {{usuario.cuenta}}</h3>
</div>

<section class="portafolio">
    <div class="contenedor">
        <h2 class="titulo">Categorias</h2>
        <div class="galeria-port">

            <div class="imagen-port">
                <img src="/assets/comidas.jpg" alt="" width="500px" />
                <div class="hover-galeria">

                    <a href="/comidas">Comidas</a>
                </div>
            </div>
            <div class="imagen-port">
                <img src="/assets/bebidas.png" alt="" width="500px" />
                <div class="hover-galeria">

                    <a href="/bebidas">Bebidas</a>
                </div>
            </div>

            <div class="imagen-port">
                <img src="/assets/Postres.jpg" alt="" width="500px" />
                <div class="hover-galeria">
                    <a href="/postres">Postres</a>
                </div>
            </div>

        </div>
    </div>
</section>